header nav{
	background-color: #cc4e74;
	color: #eee;
	display: flex;
	align-items: center;
}

header ul{
	list-style: none;
	margin: 0 auto;
}

header ul li{
	float: left;
	padding: 10px;
	margin: 5px;
}

header hr{
	margin: 0px;
	border:4px solid #eee; 
}

header ul li a{
	color: #eee;
	text-decoration: none;
	padding: 20px;
	padding-left: 35px;
	padding-right: 35px;
}

header ul li a:hover{
	background-color: #eee;
	color: #cc4e74;
	text-decoration: none;
}

header h1{
	margin: 10px;
	font-family: inherit;
	font-size: 35px;
    font-weight: bold;
    line-height: 40px;
    margin-top: 25px;
    text-shadow: 3px 2px 1px #eee;

}

header h1 span{
	color: #cc4e74;
}

#box{
	display: flex;
	align-items: center;
	height: 500px;
	background-image: url('imagens/quadro4.jpg');
	background-position: center center;
	background-size: cover;
	text-shadow: 0.25px 0.25px 0.25px #000000;
	color: #eee;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #cc4e74;
  text-shadow: none;
  background-color: #ffffff;
  font-weight: 600;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #cc4e74;
}

.titulo{
	font-family: inherit;
	font-size: 35px;
    font-weight: bold;
    line-height: 40px;
	background-color: #cc4e74;
	color: #eee;
	text-shadow: 0.25px 0.25px 0.25px #000000;
}

.btn.btn-secundary {
  border-radius: 4px;
  border: 0px;
  color: #cc4e74;
  text-shadow: none;
  border-color: #cc4e74;
  background-color: #dfdada;
  border-color: #cc4e74;
  font-weight: 600;
  width: 100%
}

.btn.btn-secundary:hover {
  color: #dfdada;
  background-color: #cc4e74;
}

#populares{
	padding-top: 50px;
}

footer{
	height: 100px;
	background-color: #565656;
}

footer h3{
	color: #eee;
	font-family: inherit;
	font-size: 35px;
    font-weight: bold;
    line-height: 40px;
    margin-top: 25px;

}
footer a{
	padding-top: 25px;
}